In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns',200)

In [3]:
match_data=pd.read_csv('Match.csv')

In [4]:
player_stats=pd.read_csv('Player.csv',encoding='latin1')

In [5]:
players_id=pd.read_csv('Player_match.csv',encoding='latin1')

In [6]:
test=pd.read_csv('matches.csv')

In [7]:
match_data

,Match_SK,match_id,Team1,Team2,match_date,Season_Year,Venue_Name,City_Name,Country_Name,Toss_Winner,match_winner,Toss_Name,Win_Type,Outcome_Type,ManOfMach,Win_Margin,Country_id
0,0,335987,Royal Challengers Bangalore,Kolkata Knight Riders,4/18/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Royal Challengers Bangalore,Kolkata Knight Riders,field,runs,Result,BB McCullum,140.0,1
1,1,335988,Kings XI Punjab,Chennai Super Kings,4/19/2008,2008,"Punjab Cricket Association Stadium, Mohali",Chandigarh,India,Chennai Super Kings,Chennai Super Kings,bat,runs,Result,MEK Hussey,33.0,1
2,2,335989,Delhi Daredevils,Rajasthan Royals,4/19/2008,2008,Feroz Shah Kotla,Delhi,India,Rajasthan Royals,Delhi Daredevils,bat,wickets,Result,MF Maharoof,9.0,1
3,3,335990,Mumbai Indians,Royal Challengers Bangalore,4/20/2008,2008,Wankhede Stadium,Mumbai,India,Mumbai Indians,Royal Challengers Bangalore,bat,wickets,Result,MV Boucher,5.0,1
4,4,335991,Kolkata Knight Riders,Deccan Chargers,4/20/2008,2008,Eden Gardens,Kolkata,India,Deccan Chargers,Kolkata Knight Riders,bat,wickets,Result,DJ Hussey,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,632,1082646,Delhi Daredevils,Royal Challengers Bangalore,5/14/2017,2017,Feroz Shah Kotla,Delhi,India,Royal Challengers Bangalore,Royal Challengers Bangalore,Bat,runs,Result,HV Patel,10.0,1
633,633,1082647,Mumbai Indians,Rising Pune Supergiants,5/16/2017,2017,Wankhede Stadium,Mumbai,India,Mumbai Indians,Rising Pune Supergiants,Field,runs,Result,Wasington Sundar,20.0,1
634,634,1082648,Sunrisers Hyderabad,Kolkata Knight Riders,5/17/2017,2017,M Chinnaswamy Stadium,Bengaluru,India,Kolkata Knight Riders,Kolkata Knight Riders,Field,wickets,Result,NM Coulter-Nile,7.0,1
635,635,1082649,Mumbai Indians,Kolkata Knight Riders,5/19/2017,2017,M Chinnaswamy Stadium,Bengaluru,India,Mumbai Indians,Mumbai Indians,Field,wickets,Result,KV Sharma,6.0,1
636,636,1082650,Mumbai Indians,Rising Pune Supergiants,5/21/2017,2017,Rajiv Gandhi International Stadium Uppal,Hyderabad (Deccan),India,Mumbai Indians,Mumbai Indians,Bat,run,Result,KH Pandya,1.0,1

In [8]:
match_data.columns

Index(['Match_SK', 'match_id', 'Team1', 'Team2', 'match_date', 'Season_Year',
       'Venue_Name', 'City_Name', 'Country_Name', 'Toss_Winner',
       'match_winner', 'Toss_Name', 'Win_Type', 'Outcome_Type', 'ManOfMach',
       'Win_Margin', 'Country_id'],
      dtype='object')

In [9]:
match_data.dtypes

Match_SK          int64
match_id          int64
Team1            object
Team2            object
match_date       object
Season_Year       int64
Venue_Name       object
City_Name        object
Country_Name     object
Toss_Winner      object
match_winner     object
Toss_Name        object
Win_Type         object
Outcome_Type     object
ManOfMach        object
Win_Margin      float64
Country_id        int64
dtype: object

In [10]:
match_data.Outcome_Type.value_counts()

Result       626
Superover      6
No Result      3
abandoned      1
tied           1
Name: Outcome_Type, dtype: int64

In [11]:
match_data[match_data.Outcome_Type=='No Result'].index

Int64Index([241, 486, 511], dtype='int64')

In [12]:
match_data.drop(index=[241, 486, 511,605,611],inplace=True)

In [13]:
match_data.drop(columns=['Toss_Winner','Toss_Name','ManOfMach','Win_Margin'],inplace=True)

In [14]:
match_data['Team2'].value_counts()

Mumbai Indians                 84
Kolkata Knight Riders          79
Kings XI Punjab                76
Delhi Daredevils               70
Royal Challengers Bangalore    68
Rajasthan Royals               65
Chennai Super Kings            57
Sunrisers Hyderabad            38
Deccan Chargers                36
Pune Warriors                  22
Rising Pune Supergiants        16
Gujarat Lions                  14
Kochi Tuskers Kerala            7
Name: Team2, dtype: int64

In [15]:
match_data.replace('Deccan Chargers','Sunrisers Hyderabad',inplace=True)

In [16]:
index900=(match_data.Team1=='Pune Warriors')+(match_data.Team1=='Rising Pune Supergiants')+(match_data.Team1=='Gujarat Lions')+(match_data.Team1=='Kochi Tuskers Kerala')

C:\Users\HP\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:194: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  op=op_str, alt_op=unsupported[op_str]

In [17]:
index900.value_counts()

False    573
True      59
Name: Team1, dtype: int64

In [18]:
index901=(match_data.Team2=='Pune Warriors')+(match_data.Team2=='Rising Pune Supergiants')+(match_data.Team2=='Gujarat Lions')+(match_data.Team2=='Kochi Tuskers Kerala')

In [19]:
index89=match_data[index900].index
index256=match_data[index901].index

In [20]:
match_data.drop(index=index89,inplace=True)
match_data.drop(index=index256,inplace=True,errors='ignore')

In [21]:
match_data.shape

(519, 13)

In [22]:
match_data.loc[:,'match_date']=pd.to_datetime(match_data.match_date,format='%m/%d/%Y')

In [23]:
import datetime as dt

In [24]:
match_data['day']=match_data.match_date.dt.day

In [25]:
match_data['month']=match_data.match_date.dt.month

In [26]:
match_data.drop(columns=['match_date','City_Name','Win_Type','Outcome_Type','Country_id'],inplace=True)

In [27]:
match_data.tail(10)

,Match_SK,match_id,Team1,Team2,Season_Year,Venue_Name,Country_Name,match_winner,day,month
619,619,1082633,Royal Challengers Bangalore,Kings XI Punjab,2017,M Chinnaswamy Stadium,India,Kings XI Punjab,5,5
621,621,1082635,Delhi Daredevils,Mumbai Indians,2017,Feroz Shah Kotla,India,Mumbai Indians,6,5
622,622,1082636,Royal Challengers Bangalore,Kolkata Knight Riders,2017,M Chinnaswamy Stadium,India,Kolkata Knight Riders,7,5
624,624,1082638,Sunrisers Hyderabad,Mumbai Indians,2017,Rajiv Gandhi International Stadium Uppal,India,Sunrisers Hyderabad,8,5
625,625,1082639,Kings XI Punjab,Kolkata Knight Riders,2017,Punjab Cricket Association IS Bindra Stadium M...,India,Kings XI Punjab,9,5
627,627,1082641,Mumbai Indians,Kings XI Punjab,2017,Wankhede Stadium,India,Kings XI Punjab,11,5
630,630,1082644,Kolkata Knight Riders,Mumbai Indians,2017,Eden Gardens,India,Mumbai Indians,13,5
632,632,1082646,Delhi Daredevils,Royal Challengers Bangalore,2017,Feroz Shah Kotla,India,Royal Challengers Bangalore,14,5
634,634,1082648,Sunrisers Hyderabad,Kolkata Knight Riders,2017,M Chinnaswamy Stadium,India,Kolkata Knight Riders,17,5
635,635,1082649,Mumbai Indians,Kolkata Knight Riders,2017,M Chinnaswamy Stadium,India,Mumbai Indians,19,5

In [28]:
lista=match_data.Match_SK
id_list=list()
for i in lista:
    id_list.append(match_data.Season_Year[i])

Appending Ranks of all players in a match

In [29]:
f2007=pd.read_excel('2007.xlsx')
n2007=f2007.Name
f2008=pd.read_excel('2008.xlsx')
n2008=f2008.Name
f2009=pd.read_excel('2009.xlsx')
n2009=f2009.Name
f2010=pd.read_excel('2010.xlsx')
n2010=f2010.Name
f2011=pd.read_excel('2011.xlsx')
n2011=f2011.Name
f2012=pd.read_excel('2012.xlsx')
n2012=f2012.Name
f2013=pd.read_excel('2013.xlsx')
n2013=f2013.Name
f2014=pd.read_excel('2014.xlsx')
n2014=f2014.Name
f2015=pd.read_excel('2015.xlsx')
n2015=f2015.Name
f2016=pd.read_excel('2016.xlsx')
n2016=f2016.Name
f2017=pd.read_excel('2017.xlsx')
n2017=f2017.Name
f2018=pd.read_excel('2018.xlsx')
n2018=f2018.Name
f2019=pd.read_excel('2019.xlsx')
n2019=f2019.Name
f2020=pd.read_excel('2020.xlsx')
n2020=f2020.Name

In [30]:
players_id['Rank']=0

In [31]:
players_id.replace('Deccan Chargers','Sunrisers Hyderabad',inplace=True)

In [32]:
index9000=(players_id.Player_team=='Pune Warriors')|(players_id.Player_team=='Rising Pune Supergiants')|(players_id.Player_team=='Gujarat Lions')|(players_id.Player_team=='Kochi Tuskers Kerala')
index9010=(players_id.Opposit_Team=='Pune Warriors')|(players_id.Opposit_Team=='Rising Pune Supergiants')|(players_id.Opposit_Team=='Gujarat Lions')|(players_id.Opposit_Team=='Kochi Tuskers Kerala')
index890=players_id[index9000].index
index2560=players_id[index9010].index

In [33]:
players_id.drop(index=index890,inplace=True,errors='ignore')
players_id.drop(index=index2560,inplace=True,errors='ignore')

In [34]:
players_id.head(10)

,Player_match_SK,PlayerMatch_key,Match_Id,Player_Id,Player_Name,DOB,Batting_hand,Bowling_skill,Country_Name,Role_Desc,Player_team,Opposit_Team,Season_year,Age_As_on_match,Rank
0,12694,3.359870e+10,335987,6,R Dravid,01-11-1973,Right-hand bat,Right-arm offbreak,India,Captain,Royal Challengers Bangalore,Kolkata Knight Riders,2008,35,0
1,12695,3.359870e+10,335987,7,W Jaffer,2/16/1978,Right-hand bat,Right-arm offbreak,India,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,30,0
2,12696,3.359870e+10,335987,8,V Kohli,11-05-1988,Right-hand bat,Right-arm medium,India,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,20,0
3,12697,3.359870e+10,335987,9,JH Kallis,10/16/1975,Right-hand bat,Right-arm fast-medium,South Africa,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,33,0
4,12698,3.359870e+10,335987,10,CL White,8/18/1983,Right-hand bat,Legbreak googly,Australia,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,25,0
5,12699,3.359870e+10,335987,11,MV Boucher,12-03-1976,Right-hand bat,Right-arm medium,South Africa,Keeper,Royal Challengers Bangalore,Kolkata Knight Riders,2008,32,0
6,12700,3.359870e+10,335987,12,B Akhil,10-07-1977,Right-hand bat,Right-arm medium-fast,India,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,31,0
7,12701,3.359870e+10,335987,13,AA Noffke,4/30/1977,Right-hand bat,Right-arm fast-medium,Australia,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,31,0
8,12702,3.359870e+10,335987,14,P Kumar,10-02-1986,Right-hand bat,Right-arm medium,India,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,22,0
9,12703,3.359870e+10,335987,15,Z Khan,10-07-1978,Right-hand bat,Left-arm fast-medium,India,Player,Royal Challengers Bangalore,Kolkata Knight Riders,2008,30,0

In [35]:
def rank_detector(data,y,ny):
    a=data[data.Season_year==y]
    for l in a.index:
          if any(a.Player_Name[l] in s for s in ny):
                   data.iloc[l,14]=1

In [36]:
def list_convertor(data):
    i=0
    while i <200: 
               data[i]=data[i].replace('.','')
               i=i+1

In [37]:
list_convertor(n2008)
rank_detector(players_id,2008,n2008)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [38]:
list_convertor(n2009)
rank_detector(players_id,2009,n2009)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [39]:
list_convertor(n2010)
rank_detector(players_id,2010,n2010)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [40]:
list_convertor(n2011)
rank_detector(players_id,2011,n2011)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [41]:
list_convertor(n2012)
rank_detector(players_id,2012,n2012)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [42]:
list_convertor(n2013)
rank_detector(players_id,2013,n2013)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [43]:
list_convertor(n2014)
rank_detector(players_id,2014,n2014)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [44]:
list_convertor(n2015)
rank_detector(players_id,2015,n2015)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [45]:
players_id[players_id.Season_year==2018]

Empty DataFrame
Columns: [Player_match_SK, PlayerMatch_key, Match_Id, Player_Id, Player_Name, DOB, Batting_hand, Bowling_skill, Country_Name, Role_Desc, Player_team, Opposit_Team, Season_year, Age_As_on_match, Rank]
Index: []

In [46]:
list_convertor(n2016)
rank_detector(players_id,2016,n2016)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

IndexError: single positional indexer is out-of-bounds

In [47]:
list_convertor(n2017)
rank_detector(players_id,2017,n2017)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

IndexError: single positional indexer is out-of-bounds

In [48]:
players_id.drop(columns=['Player_team','Opposit_Team','DOB','Player_Id'],inplace=True)

In [49]:
players_id.drop(columns=['Player_match_SK','PlayerMatch_key'],inplace=True)

In [50]:
match_data.shape

(519, 10)

In [51]:
match_data.to_csv('match_data.csv')
players_id.to_csv('players_data.csv')

In [52]:
match_data.head(2)

,Match_SK,match_id,Team1,Team2,Season_Year,Venue_Name,Country_Name,match_winner,day,month
0,0,335987,Royal Challengers Bangalore,Kolkata Knight Riders,2008,M Chinnaswamy Stadium,India,Kolkata Knight Riders,18,4
1,1,335988,Kings XI Punjab,Chennai Super Kings,2008,"Punjab Cricket Association Stadium, Mohali",India,Chennai Super Kings,19,4

In [53]:
players_id.drop(columns=['Role_Desc','Season_year'],inplace=True)

In [54]:
players_id.head(5)

,Match_Id,Player_Name,Batting_hand,Bowling_skill,Country_Name,Age_As_on_match,Rank
0,335987,R Dravid,Right-hand bat,Right-arm offbreak,India,35,0
1,335987,W Jaffer,Right-hand bat,Right-arm offbreak,India,30,0
2,335987,V Kohli,Right-hand bat,Right-arm medium,India,20,0
3,335987,JH Kallis,Right-hand bat,Right-arm fast-medium,South Africa,33,1
4,335987,CL White,Right-hand bat,Legbreak googly,Australia,25,1

In [55]:
d={}
for i in players_id.Match_Id.unique():
    d[i] = [{players_id['Age_As_on_match'][j]} for j in players_id[players_id['Match_Id']==i].index]

In [56]:
d1={}
for i in players_id.Match_Id.unique():
    d1[i] = [{players_id['Country_Name'][j]} for j in players_id[players_id['Match_Id']==i].index]

In [57]:
d2={}
for i in players_id.Match_Id.unique():
    d2[i] = [{players_id['Rank'][j]} for j in players_id[players_id['Match_Id']==i].index]

In [58]:
match_data['new_data_1'] = match_data['match_id'].map(d)

In [59]:
match_data['new_data_2'] = match_data['match_id'].map(d1)

In [60]:
match_data['new_data_3'] = match_data['match_id'].map(d2)

In [61]:
j=0
i=0
#while i<520:
#    while j < 22:
#        match_data.iloc[match_data.index[i],13+j]=(match_data['new_data_1'][i][j])
#        j=j+1
#    i=i+1

Appending Teams

In [62]:
match_data2=match_data.copy()

In [63]:
match_data.new_data_1 =np.array(match_data.new_data_1).reshape(519, 1)
match_data.new_data_2 = np.array(match_data.new_data_2).reshape(519, 1)

In [64]:
match_data.drop(columns=['Country_Name'],inplace=True)

In [65]:
match_data.drop(columns=['Match_SK','match_id'],inplace=True)

In [66]:
index90=match_data[match_data.Team1==match_data.match_winner].index
match_data['winner']=0
match_data.loc[index90,'winner']=1

In [67]:
match_data['Teams']=match_data.Team1+':'+match_data.Team2

In [68]:
match_data.drop(columns=['Team1','Team2','match_winner'],inplace=True)

In [69]:
match_data.Teams.value_counts().shape

(56,)

In [70]:
match_data.dtypes

Season_Year     int64
Venue_Name     object
day             int64
month           int64
new_data_1     object
new_data_2     object
new_data_3     object
winner          int64
Teams          object
dtype: object

In [71]:
match=pd.read_csv('Match.csv')
one_hot1=pd.get_dummies(match['City_Name'])
match_data1=pd.concat([match_data,one_hot1],axis=1)

In [72]:
match_data1=pd.concat([match_data2,one_hot1],axis=1)

In [73]:
one_hot2=pd.get_dummies(match_data['Teams'])
match_data1=pd.concat([match_data,one_hot2],axis=1)

In [74]:
match_data1.drop(columns=['Teams','Venue_Name'],inplace=True)

In [75]:
match_data2=match_data1.drop(columns=['new_data_2'])

In [76]:
#match_data2.to_csv('lllllljd.csv')

In [77]:
final=pd.read_csv('ipl_cleaned.csv')

In [78]:
final.drop(columns=['Unnamed: 0','Unnamed: 0.1'],inplace=True)

In [79]:
final=pd.concat([final,one_hot1],axis=1)

In [80]:
index292=final[final.day.isnull()].index
final.drop(index=index292,inplace=True)

In [81]:
final['Bengaluru']=(final['Bengaluru']+final['Bangalore'])

In [82]:
final.drop(columns=['Bangalore'],inplace=True)

In [83]:
final['Hyderabad']=(final['Hyderabad']+final['Hyderabad (Deccan)'])
final.drop(columns=['Hyderabad (Deccan)'],inplace=True)

In [84]:
def tanh_scaler(data):
    data=data.drop(columns=['winner'],inplace=False)
    for c in data.columns:
        unnormalizedData = np.array(data[str(c)])
        m = np.mean(unnormalizedData, axis=0) 
        std = np.std(unnormalizedData, axis=0) 
        data[str(c)] = 0.5 * (np.tanh(0.01 * ((unnormalizedData - m) / std)) + 1)
    return data

In [85]:
final_tanh=tanh_scaler(final)
final_tanh['winner']=final.winner

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys

In [86]:
#from sklearn.preprocessing import PowerTransformer
#pt = PowerTransformer()
#pt.fit(100+X_train)
#X_val=pt.fit_transform(100+X_val)

In [87]:
final_tanh.fillna(0,inplace=True)

In [88]:
final.to_csv('final_dataset.csv')

In [89]:
final_tanh.head(2)

,Season_Year,day,month,Chennai Super Kings:Delhi Daredevils,Chennai Super Kings:Kings XI Punjab,Chennai Super Kings:Kolkata Knight Riders,Chennai Super Kings:Mumbai Indians,Chennai Super Kings:Rajasthan Royals,Chennai Super Kings:Royal Challengers Bangalore,Chennai Super Kings:Sunrisers Hyderabad,Delhi Daredevils:Chennai Super Kings,Delhi Daredevils:Kings XI Punjab,Delhi Daredevils:Kolkata Knight Riders,Delhi Daredevils:Mumbai Indians,Delhi Daredevils:Rajasthan Royals,Delhi Daredevils:Royal Challengers Bangalore,Delhi Daredevils:Sunrisers Hyderabad,Kings XI Punjab:Chennai Super Kings,Kings XI Punjab:Delhi Daredevils,Kings XI Punjab:Kolkata Knight Riders,Kings XI Punjab:Mumbai Indians,Kings XI Punjab:Rajasthan Royals,Kings XI Punjab:Royal Challengers Bangalore,Kings XI Punjab:Sunrisers Hyderabad,Kolkata Knight Riders:Chennai Super Kings,Kolkata Knight Riders:Delhi Daredevils,Kolkata Knight Riders:Kings XI Punjab,Kolkata Knight Riders:Mumbai Indians,Kolkata Knight Riders:Rajasthan Royals,Kolkata Knight Riders:Royal Challengers Bangalore,Kolkata Knight Riders:Sunrisers Hyderabad,Mumbai Indians:Chennai Super Kings,Mumbai Indians:Delhi Daredevils,Mumbai Indians:Kings XI Punjab,Mumbai Indians:Kolkata Knight Riders,Mumbai Indians:Rajasthan Royals,Mumbai Indians:Royal Challengers Bangalore,Mumbai Indians:Sunrisers Hyderabad,Rajasthan Royals:Chennai Super Kings,Rajasthan Royals:Delhi Daredevils,Rajasthan Royals:Kings XI Punjab,Rajasthan Royals:Kolkata Knight Riders,Rajasthan Royals:Mumbai Indians,Rajasthan Royals:Royal Challengers Bangalore,Rajasthan Royals:Sunrisers Hyderabad,Royal Challengers Bangalore:Chennai Super Kings,Royal Challengers Bangalore:Delhi Daredevils,Royal Challengers Bangalore:Kings XI Punjab,Royal Challengers Bangalore:Kolkata Knight Riders,Royal Challengers Bangalore:Mumbai Indians,Royal Challengers Bangalore:Rajasthan Royals,Royal Challengers Bangalore:Sunrisers Hyderabad,Sunrisers Hyderabad:Chennai Super Kings,Sunrisers Hyderabad:Delhi Daredevils,Sunrisers Hyderabad:Kings XI Punjab,Sunrisers Hyderabad:Kolkata Knight Riders,Sunrisers Hyderabad:Mumbai Indians,Sunrisers Hyderabad:Rajasthan Royals,Sunrisers Hyderabad:Royal Challengers Bangalore,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,Abu Dhabi,Ahmedabad,Bengaluru,Bloemfontein,Cape Town,Centurion,Chandigarh,Chennai,Cuttack,Delhi,Dharamsala,Durban,East London,Hyderabad,Indore,Jaipur,Johannesburg,Kanpur,Kimberley,Kochi,Kolkata,Mohali,Mumbai,Nagpur,Port Elizabeth,Pune,Raipur,Rajkot,Ranchi,Visakhapatnam,winner
0,0.492397,0.501325,0.496353,0.499336,0.499299,0.499374,0.499167,0.499299,0.499336,0.499299,0.499415,0.499264,0.499264,0.499264,0.499336,0.499336,0.499299,0.499415,0.499336,0.499264,0.499264,0.499336,0.499336,0.499336,0.499374,0.499374,0.499299,0.499264,0.499374,0.499336,0.499374,0.499374,0.499336,0.499336,0.499299,0.499336,0.499374,0.499336,0.499415,0.499415,0.499459,0.499415,0.499415,0.499415,0.499415,0.499299,0.499336,0.499264,0.533926,0.499199,0.499374,0.499231,0.499459,0.499264,0.499264,0.499199,0.499264,0.499336,0.499336,0.502957,0.499145,0.489796,0.505134,0.495461,0.502744,0.503585,0.504747,0.494439,0.504584,0.513044,0.503811,0.496745,0.505606,0.503152,0.499709,0.495726,0.499747,0.505310,0.505501,0.493725,0.497740,0.495927,0.495779,0.495993,0.505648,0.506471,0.507291,0.496357,0.49651,0.497124,0.497362,0.497603,0.496025,0.505604,0.50576,0.496465,0.506775,0.496465,0.496976,0.496782,0.497512,0.497154,0.497199,0.498999,0.499231,0.515480,0.499689,0.499415,0.499231,0.498655,0.498404,0.499415,0.498441,0.499336,0.499137,0.499619,0.498676,0.499689,0.498697,0.499374,0.0,0.499619,0.499507,0.498404,0.0,0.497961,0.499619,0.499415,0.498973,0.499559,0.0,0.499415,0.499507,0.0
1,0.492397,0.501945,0.496353,0.499336,0.499299,0.499374,0.499167,0.499299,0.499336,0.499299,0.499415,0.499264,0.499264,0.499264,0.499336,0.499336,0.499299,0.542658,0.499336,0.499264,0.499264,0.499336,0.499336,0.499336,0.499374,0.499374,0.499299,0.499264,0.499374,0.499336,0.499374,0.499374,0.499336,0.499336,0.499299,0.499336,0.499374,0.499336,0.499415,0.499415,0.499459,0.499415,0.499415,0.499415,0.499415,0.499299,0.499336,0.499264,0.499264,0.499199,0.499374,0.499231,0.499459,0.499264,0.499264,0.499199,0.499264,0.499336,0.499336,0.489943,0.499145,0.501368,0.498264,0.504206,0.494440,0.504835,0.490742,0.500289,0.498871,0.508825,0.490299,0.508491,0.504437,0.497979,0.492461,0.502661,0.500976,0.497928,0.497492,0.508961,0.499814,0.495927,0.505922,0.506238,0.505648,0.496137,0.507291,0.506861,0.49651,0.497124,0.497362,0.497603,0.496025,0.495540,0.50576,0.507071,0.496310,0.507071,0.496976,0.496782,0.497512,0.497154,0.497199,0.498999,0.499231,0.498386,0.499689,0.499415,0.499231,0.518585,0.498404,0.499415,0.498441,0.499336,0.499137,0.499619,0.498676,0.499689,0.498697,0.499374,0.0,0.499619,0.499507,0.498404,0.0,0.497961,0.499619,0.499415,0.498973,0.499559,0.0,0.499415,0.499507,0.0

In [90]:
from sklearn.model_selection import train_test_split
def datasplitter(data):
    train_data, val_data = train_test_split(data, test_size = 0.2, random_state = 2)
    y_train = data['winner'].values
    y_val = data['winner'].values
    x_train = data.drop(['winner'], axis = 1).values
    x_val = data.drop(['winner'], axis = 1).values
    return y_train,y_val,x_train,x_val

In [91]:
y_train,y_val,x_train,x_val=datasplitter(final)

In [92]:
y_train_tanh,y_val_tanh,x_train_tanh,x_val_tanh=datasplitter(final)

In [93]:
series1=final.astype(bool).sum(axis=0)<10

In [94]:
final.drop(columns=['Ranchi','Raipur','Port Elizabeth','Kimberley','Kochi','Johannesburg','Indore','East London','Bloemfontein','Cape Town'],inplace=True)

In [95]:
final.shape

(519, 124)

In [97]:
final.winner=final['winner'].map({0:'a',1:'b'})

In [98]:
match_data=pd.read_csv('Match.csv')

In [99]:
final.head(2)

,Season_Year,day,month,winner,Chennai Super Kings:Delhi Daredevils,Chennai Super Kings:Kings XI Punjab,Chennai Super Kings:Kolkata Knight Riders,Chennai Super Kings:Mumbai Indians,Chennai Super Kings:Rajasthan Royals,Chennai Super Kings:Royal Challengers Bangalore,Chennai Super Kings:Sunrisers Hyderabad,Delhi Daredevils:Chennai Super Kings,Delhi Daredevils:Kings XI Punjab,Delhi Daredevils:Kolkata Knight Riders,Delhi Daredevils:Mumbai Indians,Delhi Daredevils:Rajasthan Royals,Delhi Daredevils:Royal Challengers Bangalore,Delhi Daredevils:Sunrisers Hyderabad,Kings XI Punjab:Chennai Super Kings,Kings XI Punjab:Delhi Daredevils,Kings XI Punjab:Kolkata Knight Riders,Kings XI Punjab:Mumbai Indians,Kings XI Punjab:Rajasthan Royals,Kings XI Punjab:Royal Challengers Bangalore,Kings XI Punjab:Sunrisers Hyderabad,Kolkata Knight Riders:Chennai Super Kings,Kolkata Knight Riders:Delhi Daredevils,Kolkata Knight Riders:Kings XI Punjab,Kolkata Knight Riders:Mumbai Indians,Kolkata Knight Riders:Rajasthan Royals,Kolkata Knight Riders:Royal Challengers Bangalore,Kolkata Knight Riders:Sunrisers Hyderabad,Mumbai Indians:Chennai Super Kings,Mumbai Indians:Delhi Daredevils,Mumbai Indians:Kings XI Punjab,Mumbai Indians:Kolkata Knight Riders,Mumbai Indians:Rajasthan Royals,Mumbai Indians:Royal Challengers Bangalore,Mumbai Indians:Sunrisers Hyderabad,Rajasthan Royals:Chennai Super Kings,Rajasthan Royals:Delhi Daredevils,Rajasthan Royals:Kings XI Punjab,Rajasthan Royals:Kolkata Knight Riders,Rajasthan Royals:Mumbai Indians,Rajasthan Royals:Royal Challengers Bangalore,Rajasthan Royals:Sunrisers Hyderabad,Royal Challengers Bangalore:Chennai Super Kings,Royal Challengers Bangalore:Delhi Daredevils,Royal Challengers Bangalore:Kings XI Punjab,Royal Challengers Bangalore:Kolkata Knight Riders,Royal Challengers Bangalore:Mumbai Indians,Royal Challengers Bangalore:Rajasthan Royals,Royal Challengers Bangalore:Sunrisers Hyderabad,Sunrisers Hyderabad:Chennai Super Kings,Sunrisers Hyderabad:Delhi Daredevils,Sunrisers Hyderabad:Kings XI Punjab,Sunrisers Hyderabad:Kolkata Knight Riders,Sunrisers Hyderabad:Mumbai Indians,Sunrisers Hyderabad:Rajasthan Royals,Sunrisers Hyderabad:Royal Challengers Bangalore,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,Abu Dhabi,Ahmedabad,Bengaluru,Centurion,Chandigarh,Chennai,Cuttack,Delhi,Dharamsala,Durban,Hyderabad,Jaipur,Kanpur,Kolkata,Mohali,Mumbai,Nagpur,Pune,Rajkot,Visakhapatnam
0,2008.0,18.0,4.0,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0,30.0,20.0,33.0,25.0,32.0,31.0,31.0,22.0,30.0,38.0,36.0,27.0,34.0,31.0,28.0,24.0,27.0,31.0,32.0,20.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2008.0,19.0,4.0,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,30.0,31.0,27.0,33.0,24.0,32.0,20.0,27.0,25.0,34.0,23.0,37.0,33.0,27.0,22.0,30.0,28.0,25.0,24.0,36.0,26.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [101]:
x_train.shape

(519, 133)